@import url("https://fonts.google.com/css?family=Poppins:wght@800,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif ;


}

body{
    min-height: 100vh;
    background: url(https://fonts.google.com/specimen/Lato)no-repeat;
    background-size:cover ;
    background-position:center ;

}

.header{
   position:fixed;
   top:0;
   left:0;
   width:100% ;
   padding:20px 100px ;
   background:blue ;
   display:flex;
   justify-content:space-between ;
   align-items:center;
   z-index: 100;

}

.logo{
    font-size:  32px; ;
    color:orange;
    text-decoration:none ;
    font-weight:500 ;
    margin-left: 40px;
}

.navbar a {
    position: relative;
    font-size: 18px; ;
    color:orange ;
    text-decoration:none ;
    font-weight: 500px; ;
    margin-left: 40px;
}

.navbar a ::before {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height : 2px;
    background: #fff;
}

.navbar a :houver ::before {
    width: 100%;
}



